<!-- expense-form.component.html -->
<div class="expense-form-container">
    <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome" required />
        <mat-error *ngIf="expenseForm.get('nome')?.hasError('required')">
          O nome é obrigatório.
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Centro de Custo</mat-label>
        <input matInput formControlName="centroDeCusto" required />
        <mat-error *ngIf="expenseForm.get('centroDeCusto')?.hasError('required')">
          O centro de custo é obrigatório.
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Valor</mat-label>
        <input matInput type="number" formControlName="valor" required />
        <mat-error *ngIf="expenseForm.get('valor')?.hasError('required')">
          O valor é obrigatório.
        </mat-error>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit" [disabled]="!expenseForm.valid">
        {{ isEditMode ? 'Atualizar Despesa' : 'Cadastrar Despesa' }}
      </button>
    </form>
  </div>
  